<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VersionVault.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <VersionVault.Properties.Settings>
            <setting name="SourcePathArray" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSourcePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalCompareApp" serializeAs="String">
                <value>C:\Program Files (x86)\WinMerge\WinMergeU.exe</value>
            </setting>
            <setting name="ExternalCompareAppOptions" serializeAs="String">
                <value>/e /u /maximize /wr</value>
            </setting>
            <setting name="SplitterPos" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ExternalFileViewer" serializeAs="String">
                <value>Notepad</value>
            </setting>
        </VersionVault.Properties.Settings>
    </userSettings>
</configuration>